<template>
    <div>
<!--		<p @click="prev()" class="ssss">返回</p>-->
		<!-- 动漫展示 -->
		<div class="zong">
      <div class="biaoti1">
      <h1>动漫介绍</h1>
      <div @click="prev()" class="ssss" title="返回主页">返回</div>
      </div>
			<div class="zuo">
				<img :src="comic.cover" class="img">
				<div class="you">
          <p>动漫名:{{comic.comicName}}</p>
          <p>地区:{{ comic.region }}</p>
          <p>标签:{{ comic.label }}</p>
          <p>年份:{{ comic.year }}</p>
          <p>热度:{{ comic.popularity }}</p>
          <p>最近更新:{{ comic.updateTime }}</p>
          <p>总集数:{{ comic.number }}</p>
          <p>更新到多少集:{{ comic.remark }}</p>
          <p @click="like()" class="xuan" >是否收藏：{{ this.islike ? '★' : '☆' }} </p>
          <p>简介：{{comic.description}} </p>
        </div>
      </div>
			<div class="bianjie"> <h1>评论区</h1></div>
			
				<ul class="pagelist" v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="5" >
          <li v-for="item in commentlist" style="list-style:none" >
  <!-- 评论展示 -->
  <div class="one">
          <img :src="imgurl" class="comicimg" v-if="item.avatar=='http://127.0.0.1:8081null'">
          <img v-else :src="item.avatar" class="comicimg">
            <div class="fudong">
              <p class="name">{{item.userName}}</p>
              <p class="miaoshu">{{item.comment}}</p>
              <!-- 二级评论 -->
              <div v-for="k in item.commentReplyContentList" class="fu" v-if="item.commentReplyContentList.length>0 && item.commentId==itemid && show2">
						<img :src="k.replyAvatar" class="kimg" v-if="k.replyAvatar!=null">
                <img :src="imgurl" class="kimg" v-if="k.replyAvatar==null">
            <div class="kfudong">
				<div class="fudong">
					<p class="kname">{{k.replyUserName}}</p>
              <p class="kmiaoshu">回复{{k.repliedUserName}}:{{k.comment}}</p>
				</div>
             
				<!-- 右边 -->
              <div class="kyou">
              <p class="time">{{item.createTime}}</p>
                <div class="khhe">
<!--				<p class="kreply" @click="replya(k)" v-if="user.id!=k.replyId">回复</p>-->
				<p class="kreply" @click="deletecommenta(k)" v-if="user.id==k.replyId">删除</p>


			</div>
				</div>
            </div>
				</div>
            </div>
         
            <div class="youu">
              <p class="time">{{item.createTime}}</p>
              <div class="hhe">
				<p class="reply" @click="reply(item)" v-if="user.id!=item.userId">回复</p>
				<p class="reply" @click="deletecomment(item)" v-if="user.id==item.userId">删除</p>
				<div class="sss">
					<el-button @click="show3(item)" class="reply01">查看更多</el-button>
					
				</div>
              </div>
            </div>
       </div>
		<div :style="{height:divHeight}" v-if="item.commentReplyContentList.length>0 && item.commentId==itemid && show2"></div>
		<div class="bianjie01"></div>
      </li>

</ul>
	<!-- 输入评论 -->
	<div class="shuru">
		<textarea type="text" class="shuru01" v-model="comment" :placeholder="placeholder"/>
    <div style="display: flex;margin-top: 10px;  justify-content: flex-end; align-items: center; margin-right: 15px;">
		<button type="submit" @click="addcomment()">提交</button>
		<button type="submit" @click="clear()">清空</button>
    </div>
  </div>

		</div>
   
   <!-- 评论显示 -->
   <div>
		
   </div>

    </div>
  </template>
  
  <script>
  export default {
    name: 'HelloWorld',
    props: {
      msg: String
    },
	data(){
			return {
        islike:false,
				user:this.$TestData.yonghu,
				divHeight:'',
				show2:'',
				itemid:'',
				imgurl:'http://127.0.0.1:8081/user/1.jpg',
				placeholder:'',
				comic:this.$TestData.comic,
				commentlist:[],
				historyjson:{
					userId:'',
					comicId:''
				},
				comment:'',
				commenta:{
					comicId:'',
					userId:'',
					comment:''
				},
				commentb:{
					comicCommentId:'',
					replyId:'',
					repliedId:'',
					comment:'',
					
				},
				likeuser:{
					userId:'',
					comicId:''
				},
				replyid:''
			}
		},
		created(){
			this.comic=this.$route.query.item,
			this.getcomment(),
			this.addhistory(),
			this.user.avatar=this.$TestData.u+this.user.avatar
			console.log(this.$TestData.yonghu.avatar)
		},
		methods:{
			prev(){
				this.$router.go(-1)
			},
			like(){
				this.likeuser.userId=this.user.id
				this.likeuser.comicId=this.comic.id
				this.$Request
				.fetch_("/user/insertCollection", "post", this.likeuser)
				.then((result) => {
					if(result.code==200) {
            this.$message.info("收藏成功")
          }
					else this.$message.info("已经收藏过了")
          this.islike = true;
				})
				.catch((error) => {
					this.$message.error(error);
				});
			},
			clear(){
				this.comment='',
				this.placeholder='',
				this.replyid=''
			},
			deletecomment(item){
				var url="/comment/deleteComicCommentByComicCommentId/"+ item.id
				this.$Request
				.fetch_(url, "delete",)
				.then((result) => {
          
					console.log(result)
					this.getcomment()
				})
				.catch((error) => {
					this.$message.error(error);
				});
			},
			deletecommenta(k){
				var url="/commentReplyContent/deleteCommentReplyContentByCommentReplyContentId/"+ k.id
				this.$Request
				.fetch_(url, "delete",)
				.then((result) => {
          
					console.log(result)
					this.getcomment()
				})
				.catch((error) => {
					this.$message.error(error);
				});
			},
			show3(item){
				this.divHeight=item.commentReplyContentList.length*120+"px"
				this.show2=!this.show2
				this.itemid=item.commentId
				if(item.commentReplyContentList.length==0)this.$message.info("没有人回复他，你回复吗");
			},
			loadMore() {
        this.loading = true
      },
      reply:function(item){
		this.placeholder="回复"+item.userName+":"
		this.replyid=item.userId
		this.commentb.comicCommentId=item.id
      },
      replya(k){
			this.placeholder="回复"+k.replyUserName+":"
			this.replyid=k.replyId
			this.commentb.comicCommentId=k.id
      },

			addhistory:function(){
				this.historyjson.userId=this.$TestData.yonghu.id
				this.historyjson.comicId=this.comic.id
				this.$Request
				.fetch_("/user/insertHistory", "post", this.historyjson)
				.then((result) => {
					console.log(result)
				})
				.catch((error) => {
					this.$message.error(error);
				});
			},
			getcomment:function(){
				var url = "/comment/selectCommentByComicId/" + this.comic.id;
      this.$Request
        .fetch(url)
        .then((result) => {
			this.show2=!this.show2
			console.log(result)
          this.commentlist=result.data
          this.commentlist.map((item) => {
						if (item.avatar) {
							item.avatar = this.$Request.domain + item.avatar;
						}
						if(item.commentReplyContentList.map((a)=>{
							if (a.replyAvatar) {
							a.replyAvatar = this.$Request.domain + a.replyAvatar;
							a.repliedAvatar = this.$Request.domain + a.repliedAvatar;
						}
						return a;
						}))
						return item;
        })
		// this.commentlist.commentReplyContentList.map((a) => {
		// 	console.log("sss")
		// 				if (a.replyAvatar) {
		// 					a.replyAvatar = this.$Request.domain + a.replyAvatar;
		// 				}
		// 				return a;
				
        // })
		
        })
		
        .catch(() => {
          
        });
			},
			addcomment:function(){
				if(this.replyid==''){
					this.commenta.userId=this.$TestData.yonghu.id
				this.commenta.comicId=this.comic.id
				this.commenta.comment=this.comment
					
				// this.commentb.comicCommentId=this.
				this.$Request
				.fetch_("/comment/insertComicComment", "post", this.commenta)
				.then((result) => {
					if(result.code==200){
						this.$message.info("评论成功");
						this.comment=''
						this.placeholder='',
						this.replyid=''
						this.getcomment();
						
					}else{
						this.$message.info("有问题捏");
					}
				})
				.catch((error) => {
					this.$message.error(error);
				});
				}else{
					this.commentb.replyId=this.$TestData.yonghu.id
				this.commentb.repliedId=this.replyid
				this.commentb.comment=this.comment
				this.$Request
				.fetch_("/commentReplyContent/insertCommentReplyContent", "post", this.commentb)
				.then((result) => {
					if(result.code==200){
						console.log(result)
						console.log("二级")
						this.$message.info("评论成功");
						this.comment='',
						this.replyid='',
						this.placeholder='',
						this.getcomment();
					}else{
						this.$message.info("有问题捏");
					}
				})
				.catch((error) => {
					this.$message.error(error);
				});
			}
		}
	}}
  </script>

  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
  .biaoti1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow:
        0 0 0 5px rgba(255, 255, 255, 0.7),
        0 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 0 15px rgba(255, 255, 255, 0.3),
        0 0 0 20px rgba(255, 255, 255, 0.1);
  }
  h1 {
    margin: 0;
    color: #f0f2f5;
  }
  .ssss {
    margin-left: 20px;
    background-color: #cccccc;
    /* 设置鼠标悬停时的光标样式 */
    cursor: pointer;
    /* 设置宽度和高度 */
    width: 50px;
    height: 50px;
    /* 设置边框圆角 */
    border-radius: 50%;
    /* 设置内边距和外边距 */
    /*padding: 3px;*/
    margin-right: 20px;
    /* 让文字水平和垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    /* 添加过渡效果 */
    transition: background-color 0.3s ease-in-out;
  }

  /* 当鼠标指向元素时，背景颜色渐变为#409EFF */
  .ssss:hover {
    background-color: #f0f2f5;
  }
  .xuan{
	cursor: pointer;
    background-color: unset;
  }
  .kreply{
	cursor: pointer;
    background-color: unset;
	color: #0cbcf2;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 1000;
  }

.shanchu{
	margin-left: 10px;
}
.kmiaoshu{
	font-size: 12px;
}
  .kname{
	color: red;
	margin-top: 10px;
	font-size: 15px;
	font-weight: 1000;
  }
  .kimg{
	margin-top: 20px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
  }

  .sss{

	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
  }
 .fu{
	display: flex;
	flex-direction:row ;
 }
  .shuru{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;
  }
  input{
	width: 400px;
	height: 100px;

  }

  .hhe{
	display: flex;
	flex-direction: row;
  }
  .reply01{
	cursor: pointer;
    background-color: unset;
    color: #83cdf8;
	font-size: 10px;
	width: 20px;
	height: 5px;
	margin-left: 10px;
	margin-top: 25px;
	border: 0px;
  }
  .reply01:hover{
    color: red;
  }
  .reply{
	cursor: pointer;
    background-color: unset;
	color: #0cbcf2;
	margin-top: 28px;
	margin-left: 10px;
  }
  .bianjie01{
	height: 0px;
	background-color: #000;
	width: 97%;
	border:1px solid #000;
  }
  .comicimg{
  margin-top: 15px;
  margin-left: 5px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
  .one{
	width: 100%;
  height: 120px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
 .youu{
  margin-left: 20px;
}
.time{
	width: 100px;
  margin-top: 30px;
  font-size: 10px;
  color: #1d8ccc;
}
.kfudong{
  width: 700px;
  text-align: left;
  margin-left: 10px;
	display: flex;
	flex-direction: row;
}
.fudong{
  width: 700px;
  text-align: left;
  margin-left: 10px;
}
.name{
	color: red;
	margin-top: 30px;
  font-weight: 1000;
}
.miaoshu{
	font-size: 15px;
}
.pagelist{
  height: 300px;
  overflow-y: auto;
}
  .you{
	border:1px solid #e7edec;
	margin-left: 10px;
	width: 300px;
	height: 450px;
	background-color: #ffffff;
  }
  .bianjie{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow:
        0 0 0 5px rgba(255, 255, 255, 0.7),
        0 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 0 15px rgba(255, 255, 255, 0.3),
        0 0 0 20px rgba(255, 255, 255, 0.1);
  }
  .zong {
    display: flex;
    flex-direction: column;
    max-width: 1200px; /* 添加宽度限制 */
    margin: 0 auto; /* 居中显示 */
    padding: 5px; /* 添加内边距 */
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* 添加背景色 */
  }
 .zuo{
	width: 100%;
	height: 500px;
   margin: auto;
   margin-left: 300px;
   display: flex;
   align-items: center; /*如果需要垂直居中也可以加上这句*/
	flex-direction: row;
 }
.img{
	width: auto;
	height: 450px;
	border-radius: 2%;
}


  .shuru01 {
    width: 96%;
    height: 200px;
    margin: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
  }

  .shuru01:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  button {
    /* ... */
    margin-left: 10px;
    font-size: 16px;
    width: 100px;
    color: #fff;
    background-color: #0375b4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .shuru button:hover {
    background-color: #025e8c;
  }

  </style>
  