<template>
    <div class="hello">
      <div class="all-wrapper">
    <!-- 创建外层容器 -->
    <div class="out-wrapper">

        <!-- 创建导航栏容器 -->
        <div class="header-wrapper">

            <!-- 创建导航栏 -->
            <div class="nav-bar">
                <ul class="navBar">
                    <li>
                        <div @click="getcomic('')">首页</div>
                    </li>
                    <li>
                        <div @click="getcomic('日本')">日本动漫</div>
                    </li>
                    <li>
                        <div @click="getcomic('大陆')">国产动漫</div>
                    </li>
                    <li>
                        <div @click="getcomic('热血')">热血动漫</div>
                    </li>
                    <li>
                        <div @click="getcomic('冒险')">冒险动漫</div>
                    </li>
                    <li>
                        <div @click="getcomic('奇幻')">奇幻动漫</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 创建搜索容器 -->
        <div class="search-wrapper">
          <!--  登录 -->
          <div class="buju">
            <el-button @click="show3 = !show3" v-if="user.userName==''" class="username">游客你好！</el-button>
            <el-button @click="show3 = !show3" v-if="user.userName!=''" class="username">用户{{user.userName}}</el-button>
            <div  class="buju">
              <el-collapse-transition>
                <div v-show="show3" class="buju">
                  <div class="buju01"><router-link to="/login"  v-if="user.userName==''">登录</router-link></div>
                  <div class="buju01"> <button @click="loginout()" v-if="user.userName!=''" class="loginbutton">注销</button></div>
                  <div class="buju01"> <router-link to="/user" v-if="user.userName!=''">个人中心</router-link></div>
                </div>
              </el-collapse-transition>
            </div>
            <!-- 创建搜索框 -->
            <div class="search-in">
                <i class="iconfont icon-search"></i>
                <input type="text" class="search-text" v-model="searchtext" name="keywords" placeholder="请输入关键词">
                <button class="searchbutton" @click="search()">搜索</button>
            </div>

    </div>
        </div>

        <!-- 创建轮播图容器 -->
        <div class="swiper">
            <div class="swiper-wrapper">
              <el-carousel :interval="4000" type="card"  class="carousel-custom" >
                      <el-carousel-item v-for="item in indexcomic" :key="item.id">
                                  <div class="medium">
                                    <img :src="item.cover" class="fengmian" @click="todetail(item)">
                                    <div class="title">{{ item.comicName }}</div>
                                  </div>

                        </el-carousel-item>
              </el-carousel>
            </div>
        </div>
        </div>
    </div>
   <!--主体内容-->
   <div class="zongti" >
             <div v-for="item in comic.list" :key="item.id">
            <!--每个盒子-->
                  <div class="one" @click="todetail(item)" >
                    <!--图片-->
                    <img :src="item.cover"  class="oneimg">
                    <!--文本-->
                    <h1 class="comicname">{{ item.comicName }}</h1>
                  </div>
             </div>
   </div>
<div class="juli"></div>

          <div class="block">

  <el-pagination
  @current-change="handleCurrentChange"
  background
  :current-page="comic.pageNum"
  :page-size="comic.pageSize"
    layout="prev, pager, next"
    :total="comic.total"
    >
  </el-pagination>
              </div>
</div>



  </template>

  <script>


  export default {
    name: 'Index',
    props: {
      msg: String
    },
    data() {
      return {
        which: '',
        show3: false,
        indexcomic: [],
        user: this.$TestData.yonghu,
        get_comic: {
          currentPage: 1,
          pageSize: 10,
          keyword: "",
          sort: "popularity",
          direction: "desc",
          searchtext: '',
        },
        comic: {
          total: 30, // 总数据量
          pageNum: 1, // 当前页
          pageSize: 10, // 页长
          pages: 1, // 总页数
          list: [], // 当前页数据集合
          // },
          searchtext: ''
        }
      }
    },
  created(){
    this.getindexcomic();
    this.getcomic();
    console.log(this.$TestData.yonghu.avatar);
  },
		methods:{
      todetail:function(item){
        if(this.user.id!=''){
          this.$router.push({path: '/detail',query:{item}});
        }else{
          this.$message.info("请先登录");
        }

      },
      handleCurrentChange:function(val) {
       this.get_comic.currentPage=val;
       this.getcomic();
        console.log(val)
      },
      loginout:function() {
			// 没有后台方法，由前端清除 token
			this.$VuexStore.commit("setToken", "");
			this.$router.push("/login");
		},
    getindexcomic:function(){
      console.log("用户")
      console.log(this.user)
      this.$Request
				.fetch_("/comic/getComicByPopularity", "get", )
				.then((result) => {
          console.log("主要的")
					console.log(result)
          this.indexcomic=result.list;
          this.indexcomic.map((item) => {
						if (item.cover) {
							item.cover = this.$Request.domain + item.cover;
						}
						return item;
					});
				})
				.catch((error) => {
					this.$message.error(error);
				});
    },
      getcomic: function(e){
            console.log(e);
            this.get_comic.keyword=e;
            this.$Request
				.fetch_("/comic/getComicBySearch", "post", this.get_comic)
				.then((result) => {
          this.searchtext=''
					console.log(result)
          this.comic=result;
          this.comic.list.map((item) => {
						if (item.cover) {
							item.cover = this.$Request.domain + item.cover;
						}
						return item;
					});
				})
				.catch((error) => {
					this.$message.error(error);
				});
         },
         search:function(){
          console.log(this.searchtext)
          this.get_comic.keyword=this.searchtext;
          this.$Request
				.fetch_("/comic/getComicBySearch", "post", this.get_comic)
				.then((result) => {
					console.log(result)
          this.searchtext=''
          this.comic=result;
          this.comic.list.map((item) => {
						if (item.cover) {
							item.cover = this.$Request.domain + item.cover;
						}
						return item;
					});
				})
				.catch((error) => {
					this.$message.error(error);
				});
         }
		},
  }
  </script>
<style scoped>
.block{
  overflow:auto;
}
.juli{
  margin-top: 30px;
}
.username{
  font-weight: 1000;
  margin-left: 10px;
}
.comicname{
  font-size: 20px;
  font-weight: 1000;
}
.buju01{
  margin-top: 10px;
  margin-left: 10px;
  color: red;
}
.buju{
  display: flex;
  flex-direction: row;
  flex:1;
}
.searchbutton{
  width: 100%;
  height: 100%;

}
.loginbutton{
  margin-top: 1px;
  color: #f61010;
  font-size: 15px;
}
button{
  cursor: pointer;
  background-color: unset;
  border: 0;
  font-size: 15px;
  color: red;
}

.zongti{
  height: 850px;
  width: 1350px;
  margin-left: 138px;
  margin-top: 500px;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.one{
  width: 230px;
  height: 350px;
  margin-top: 50px;
  margin-left: 40px;
}
.oneimg{
  width:200px;
  height:300px;
}
.medium{
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
}

.all-wrapper{
  width: 100%;
  height: 100%;
}
img{
  transition: filter 0.3s ease-in-out;
}
img:hover
{
  cursor: pointer;
  filter: brightness(130%);
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px rgba(0,0,0,0.4);
}

/* 设置所有a */
a,
a:hover,
a:active,
a:visited{
  text-decoration: none;
  color: orange;
}

/* 设置外层容器 */
.out-wrapper{
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}

/* 设置导航栏 */
.nav-bar {
  background-color: #f2f2f2; /* 添加灰色背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  list-style: none; /* 去除圆点 */
  margin: 0; /* 去除默认的margin */
  padding: 0; /* 去除默认的padding */
  flex:1;
}

.navBar li div {
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.navBar li div:hover {
  color: rgb(28, 148, 239);
}


/* 设置搜索框 */
.search-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.search-in {
  display: flex;
  align-items: center;
  width: 40%;
  height: 30px;
  border-radius: 15px;
  padding: 4px 12px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  flex: 1;
}

.search-text
{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.searchbutton {
  margin-left: 20px;
  width: 80px;
  height: 30px;
  background-color: rgb(28, 148, 239);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchbutton:hover {
  background-color: rgb(25, 133, 216);
}
/* 设置轮播图容器 */
.swiper{
  width: 1200px;
  height: 400px;
  background-color: #f0f2f5;
  box-shadow: 1px 1px 5px 5px #cccccc;
}
.swiper-slide img{
  width: 100%;
  height: 300px;
  position: relative;
}
/* 轮播图样式 */
.swiper {
  margin-top: 20px;
}

.swiper-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.el-carousel /deep/.el-carousel__container{
  height: 370px;
}

.medium {
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fengmian {
  max-width: 100%;
  max-height: 64%;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}
.title {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center; /* 水平居中对齐 */
}
</style>
